
<html>
<head>
	<title>Wiki Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="javascripts/general.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine ">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>



<body onload="loader()">
	<div class="container-fluid">
		<center>
			
			<div class="header">
				<h1><i class="fa fa-wikipedia-w" aria-hidden="true"></i>iki <i class="fa fa-wikipedia-w" aria-hidden="true"></i>iki</h1>

				<input id="searchTerm" type="text" name="search">
				<button id="searchBtn" onclick="getWiki()"><i class="fa fa-search" aria-hidden="true"></i></button>

			</div>

			<br><br><br><br><br>

			<div id="cont" class="content">

			</div>
			
		</center>

	</div>
</body>



</html>

<!-- https://en.wikipedia.org/wiki/Special:Random -->